{% extends 'todos/!base.html' %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% comment %} detail_modal 실행시, detail url 가져오기 {% endcomment %}
<script>
    $(document).ready(function() {
        $("#detail").on("show.bs.modal", function(e) {
        var $modal = $(this);
        var remoteUrl = e.relatedTarget.dataset.remote;
        if (remoteUrl) {
            $modal.find(".modal-content").load(remoteUrl);
        }
        });
    });
</script>

{% comment %} create_modal 실행시, create url 가져오기 {% endcomment %}
<script>
    $(document).ready(function() {
        $("#create").on("show.bs.modal", function(e) {
        var $modal = $(this);
        var remoteUrl = e.relatedTarget.dataset.remote;
        if (remoteUrl) {
            $modal.find(".modal-content").load(remoteUrl);
        }
        });
    });
</script>

{% comment %} update_modal 실행시, update url 가져오기 {% endcomment %}
<script>
    $(document).ready(function() {
        $("#update").on("show.bs.modal", function(e) {
        var $modal = $(this);
        var remoteUrl = e.relatedTarget.dataset.remote;
        if (remoteUrl) {
            $modal.find(".modal-content").load(remoteUrl);
        }
        });
    });
</script>
{% endblock script %}


{% block style %}
.create-btn {
    height: 36px;
    margin-top: 4px;
    font-size: 15px;
    padding-bottom: 3px;
}

.card-form {
    height: 65px;
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.card-form:hover {
    border: 0.2px solid gray;
    box-shadow: 1px 1px 10px lightgray;
}

.arrange {
    transition: all 0.2s linear;
}

.arrange:hover {
    transform: scale(1.1);
    color: #333333;
}

.cursor {
    cursor: pointer;
}

.cate-home {
    height: 50px;
    width: 6px;
    background-color: #F1C0C0;
    margin-right: 10px;
    margin-left: 8px;
}

.cate-culture {
    height: 50px;
    width: 6px;
    background-color: #E4F1C0;
    margin-right: 10px;
    margin-left: 8px;
}

.cate-work {
    height: 50px;
    width: 6px;
    background-color: #C0CEF1;
    margin-right: 10px;
    margin-left: 8px;
}

.cate-study {
    height: 50px;
    width: 6px;
    background-color: #F1E6C0;
    margin-right: 10px;
    margin-left: 8px;
}

.check-box {
    border: 1.2px solid #999999;
    width: 100%;
    height: 100%;
}

.top-btn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 45px;
    height: 45px;
    background-color: #5C636A;
    color: white;
    border-radius: 20%;
    text-align: center;
    line-height: 55px;
    z-index: 1000;
}

.select-box {
    height: 37px;
    margin-top: 4px;
    background-color: #6c757d;
    color: white;
    font-size: 15px;
}

.top-btn:active {
    background-color: #444444;
}

.font-gray {
    color: #777777;
}

.font-lightgray {
    color: #999999;
}

.font-18 {
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.nothing {
    margin-top: 12rem;
    font-size: 30px;
    text-align: center;
}
{% endblock style %}


{% block body %}
    {% comment %} 정렬 및 카테고리, 생성버튼 {% endcomment %}
    <div class="d-flex justify-content-between mt-4 mb-4 padding align-items-center">
        <h3>Tasks</h3>

        {% comment %} 필드별 정렬버튼 {% endcomment %}
        <span class="font-gray font-14 ms-4">정렬 | </span>
        <a href="{% url 'todos:sorting' %}" class='arrange font-gray font-14 ms-3' type='submit' name='sorting_mode' value='생성날짜순'>생성날짜순</a>
        <a href="{% url 'todos:sorting' %}" class='arrange font-gray font-14 ms-3' type='submit' name='sorting_mode' value='카테고리순'>카테고리순</a>
        <a href="{% url 'todos:sorting' %}" class='arrange font-gray font-14 ms-3' type='submit' name='sorting_mode' value='마감날짜순'>마감날짜순</a>

        <div class="flex-grow-1"></div>

        {% comment %} 카테고리별 조회 select {% endcomment %}
        <form action="{% url 'todos:category' %}" method='GET'>
            <select class="form-select select-box" name='category_mode' onChange="form.submit()">
                <option selected>카테고리별</option>
                <option value="전체">전체</option>
                <option value="집안일">집안일</option>
                <option value="문화생활">문화생활</option>
                <option value="업무">업무</option>
                <option value="자기계발">자기계발</option>
            </select>
        </form>

        {% comment %} 할 일 생성 버튼 {% endcomment %}
        <a data-remote="{% url 'todos:create' %}" class='btn btn-secondary create-btn ms-3' data-bs-toggle="modal" data-bs-target="#create">+ 할 일 생성</a>
    </div>

    {% if todos_yet %}
        {% comment %} 할 일 카드 라벨 {% endcomment %}
        <div class='d-flex justify-content-between padding font-14'>
            <span class="font-lightgray col-4 flex-grow-1 ms-4">할 일</span>
            <span class="font-lightgray col-2 text-center">카테고리</span>
            <span class="font-lightgray col-2 text-center">마감일</span>
            <span class="font-lightgray col-1 text-center">수 정</span>
            <span class="font-lightgray col-1 text-center">삭 제</span>
            <span class="font-lightgray col-1 text-center">완 료</span>
        </div>

        {% comment %} 할 일 카드 {% endcomment %}
        <div class='mb-5'>
            {% for todo in todos_yet %}
                <div class="card-form d-flex align-items-center mt-3 margin">

                    {% comment %} 색상태그 {% endcomment %}
                    <div class='{% if todo.category == '집안일' %} cate-home
                                {% elif todo.category == '문화생활' %} cate-culture
                                {% elif todo.category == '업무' %} cate-work
                                {% elif todo.category == '자기계발' %} cate-study{% endif %}'></div>

                    {% comment %} 할 일 title, created_at {% endcomment %}
                    <div class='d-flex row col-5'>
                        <a data-remote="{% url 'todos:detail' todo.pk %}" class='font-18 cursor' data-bs-toggle="modal" data-bs-target="#detail">
                            {{ todo.title }}
                        </a>
                        <span class='font-12 font-lightgray'>{{ todo.created_at|date:'Y-m-d' }}</span>
                    </div>

                    {% comment %} 할 일 category, deadline {% endcomment %}
                    <span class='col-2 text-center font-lightgray font-14'>{{ todo.category }}</span>
                    <span class='col-2 text-center font-lightgray font-14'>{{ todo.deadline|date:'Y-m-d' }}</span>

                    {% comment %} edit {% endcomment %}
                    <a data-remote="{% url 'todos:update' todo.pk %}" class='col-1 text-center font-lightgray mt-1 cursor' data-bs-toggle="modal" data-bs-target="#update">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>

                    {% comment %} delete {% endcomment %}
                    <a href="{% url 'todos:delete' todo.pk %}" class='col-1 text-center font-lightgray mt-1' onclick="return confirm('정말 삭제하시겠습니까?');">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>

                    {% comment %} check {% endcomment %}
                    <div class="col-1 mx-auto">
                        {% comment %} <form action="{% url 'todos:completed' todo.pk %}" method='POST'> {% endcomment %}
                            {% csrf_token %}
                            {% for field in complete_form %}
                                {{ field }}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            {% endfor %}

            {% comment %} 위로가기 버튼 {% endcomment %}
            <a href="#top" class='top-btn'>
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>
            </a>
        </div>
        {% if todos_done %}
            <hr>
            <div class="d-flex justify-content-between mt-4 mb-4 padding align-items-center">
                <h3>Tasks</h3>

                {% comment %} 완료한 할 일 카드 {% endcomment %}
                <div class='mb-5'>
                    {% for todo in todos_done %}
                        <div class="card-form d-flex align-items-center mt-3 margin">
                            <div class='{% if todo.category == '집안일' %} cate-home {% elif todo.category == '문화생활' %} cate-culture {% elif todo.category == '업무' %} cate-work {% elif todo.category == '자기계발' %} cate-study {% endif %}'></div>
                            <div class='d-flex row col-5'>
                            <a href="{% url 'todos:detail' todo.pk %}" class='font-18'>{{ todo.title }}</a>
                            <span class='font-12 font-lightgray'>{{ todo.created_at|date:'Y-m-d' }}</span>
                        </div>
                        <span class='col-2 text-center font-lightgray font-14'>{{ todo.category }}</span>
                        <span class='col-2 text-center font-lightgray font-14'>{{ todo.deadline|date:'Y-m-d' }}</span>

                        {% comment %} edit, delete, check {% endcomment %}
                        <a href="{% url 'todos:update' todo.pk %}" class='col-1 text-center font-lightgray mt-1'>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                        <a href="{% url 'todos:delete' todo.pk %}" class='col-1 text-center font-lightgray mt-1'>
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                        <input class="form-check-input check-box mx-auto col-1 mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div class='nothing'>
            <span class='font-lightgray'>할 일을 생성해주세요.<br></span>
            <span class='font-lightgray font-18'>There's nothing to do. Please create something to do.</span>
        </div>
    {% endif %}


    {% comment %} detail_modal {% endcomment %}
    <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>

    {% comment %} create_modal {% endcomment %}
    <div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>

    {% comment %} update_modal {% endcomment %}
    <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock body %}