{% extends 'todos/!base.html' %}


{% block style %}
{% endblock style %}


{% block body %}
    <div class="mt-4 padding">
        <h3 class='mb-4'>수정하기</h3>

        <form action="{% url 'todos:update' todo.pk %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary mt-4">수정하기</button>
            <a class="btn btn-outline-primary mt-4" href="{% url 'todos:index' %}">뒤로가기</a>
        </form>
    </div>
{% endblock body %}